html,
body {
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1472173148041-00294f0814a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.main {
  text-align: center;
}

#root {
  display: grid;
  grid-template-rows: 1fr 11fr 1fr;
  height: 100%;
}
.main__cardContainer--wide {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 1em;
  justify-items: center;
}
.main__cardContainer--wide:nth-child(0){
  border: 5px solid black
}
.main__cardContainer--narrow {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1em;
  justify-items: center;
}
.author__cardContainer--wide {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1em;
  justify-items: center;
}
.author__cardContainer--narrow {
  
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1em;
  justify-items: center;
  
}
.card{
  min-width: 275px;
  
}
.card:hover{
  border:2px solid rgba(134, 60, 17, 0.452)
}
